<div style="min-height: 600px;">
<% obj.each do |article| %>
<div class="row justify-content-center  "  style="text-align: center; margin-top: 20px;">
	<div class="col-xl-6 " >
		<div class="card card-lg bg-warning d-inline-flex index_show">
			<div class="card-title article-title "> <%= link_to article.title,article_path(article),class: "card-title" %> </div>
			<div class="card-body article-body"> <%= truncate(article.description ,length: 100) %>
				<br>
				<small class="article-meta-details">
					Created by: <%= article.user.username if article.user %>
					<%= time_ago_in_words(article.created_at) %> ago,
					Updated at:<%= time_ago_in_words(article.updated_at) %> 
				</small>
			 </div>
			<div class="article-actions">
				<%= link_to "edit" , edit_article_path(article),class:"btn  btn-primary" %>
				<%= link_to "show" , article_path(article),class:"btn  btn-success" %>
				<%= link_to "delete" , article_path(article) , method: :delete,data: {confirm: "AreYou Sure?"},class:"btn  btn-danger" %>
			</div>
		</div>	
	</div>
</div>
<% end %>
</div>