<br>
<h2 class="card  text-center" style="background-color: rgb(255, 255, 127,0.4);">
	Title - <%= @article.title %>
</h2>
<hr>
<div class="d-flex justify-content-center">
<div class=" card bg-warning mb-3 col-md-8 p-4">
	<h4 class="center description "><strong>Description</strong></h4>
	<br>
	<%= simple_format(@article.description) %>
	<br>
	<% if @article.categories.any? %>
	<p>Categories <%= render @article.categories %></p>
	<% end %>
	<% if logged_in? && ( current_user == @article.user || current_user.admin? ) %>
	<div class="article-actions">
		<%= link_to "Edit" , edit_article_path(@article),class:"btn  btn-primary text-white" %>
		<%= link_to "Back to all articles" , articles_path,class:"btn  btn-success text-white" %>
		<%= link_to "Delete" , article_path(@article) , method: :delete, data: { confirm: "YOU SURE YOU WANNA DELETE" } , class:"btn text-white btn-danger" %>
	</div>
	<% end %>
</div>
</div>
