<h1>
	Showing Article <%= @article.id %>
</h1>

<p>	Title : 
	<%= @article.title %>
</p>
<hr>
<p> ...............Description............ <br>
	<%= @article.description %>
</p>
<%= link_to "Edit" , edit_article_path(@article) %>
<%= link_to "Back to all articles" , articles_path %>