

<div class="row">
	<div class = '  col-xs-12'>
	<%= form_for(@category, :html => {class: 'form-horizontal',role: 'form'}) do |f| %>
		<div class = 'form-group row'>
			<div class=" form-control-label col-sm-2">
				<%= f.label :name ,class: "form-control" %> 
			</div>
			<div class="col-sm-6">
				<%= f.text_field :name ,class:"form-control",placeholder:"Category name",autofocus: true %>
			</div>
		</div>
		<br>
		<div class="form-control-label">
		<div class="offset-3 col-sm-6">
			<%= f.submit class:"btn btn-outline-success  submit_search" %>
		</div>
	</div>
<% end %>
	
	</div>


</div>
<hr>

	<%= link_to "Back to all articles" , articles_path ,  class: 'btn-outline-success btn btn-inverse submit_search text-white' %>