<!DOCTYPE html>
<html>
  <head>
    <title>Iota</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
   <!--  <%= debug(params) if Rails.env.development? %> -->
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render "layouts/messages" %>
    <div class="container">
    <%= yield %>      
    </div>

      <footer class = 'content-footer'>
        <div class="row"><%= render 'layouts/footer' %>
        </div>
      </footer>

  </body>
</html>
